/* register.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #e0f7fa;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  /* изменение на flex-start для скроллинга */
    align-items: center;
    overflow-y: scroll;  /* добавление скроллинга */
}

header {
    width: 100%;
    background-color: #333; /* темно-серый цвет */
    color: #fff;
    padding: 8px 0;
    display: flex;
    border-bottom: 3px solid #00796b;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header h1.logo {
    -webkit-text-stroke: 1px #000;
    font-size: 1.35em; /* уменьшение размера заголовка на 5 пикселей */
    margin-bottom: 16px;
    margin-left: -140px; /* сдвиг влево на -239.5 пикселей */
    color: #fff;
}

.header-left ul,
.header-right ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header-left li,
.header-right li {
    margin: 0 15px; /* отступы между кнопками на 30 пикселей */
}

.header-left a,
.header-right a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.15em;
    -webkit-text-stroke: 0.5px #000;
    transition: color 0.3s ease;
}

.header-left a:hover,
.header-right a:hover {
    color: #00796b;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    border: 3px solid #333;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin-top: 10px; /* изменение отступа сверху на 10 пикселей */
}

h1 {
    font-family: 'Pacifico', cursive;
    color: #00796b;
    margin-bottom: 20px;
}

h2 {
    color: #004d40;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

label {
    display: block;
    text-align: left;
    margin: 5px 0;
    color: #004d40;
    transition: color 0.3s ease;
}

label:hover {
   color: #00796b;
}

input {
    width: calc(100% - 15px);
    padding: 7px;
    margin: 5px;
    border: 1px solid #004d40;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #00796b;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #004d40;
}

footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1px 0; /* уменьшение размера футера еще в 2,5 раза */
    position: absolute;
    border-top: 3px solid #00796b;
    bottom: -0px; /* сдвиг на 15 пикселей вниз */
}
