/* view-appointments.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #e0f7fa;
    color: #333;
}

header {
    width: 100%;
    background-color: #333; /* темно-серый цвет */
    color: #fff;
    text-shadow: 2px #000;
    padding: 6px 0;
    border-bottom: 3px solid #00796b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header h1.logo {
    -webkit-text-stroke: 1px #000;
    font-size: 1.35em; /* уменьшение размера заголовка на 5 пикселей */
    margin-left: -64.5px; /* сдвиг влево на -300 пикселей */
    color: #fff;
}

.header-left ul,
.header-right ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header-left li,
.header-right li {
    margin: 0 15px; /* отступы между кнопками на 30 пикселей */
}

.header-left a,
.header-right a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.15em;
    -webkit-text-stroke: 0.5px #000;
    transition: color 0.3s ease;
}

.header-left a:hover,
.header-right a:hover {
    color: #00796b;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: #00796b;
    margin-bottom: 16px;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    border: 3px solid #333;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin-top: 10px; /* изменение отступа сверху на 10 пикселей */
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: #00796b;
    margin-bottom: 20px;
}

.appointment-list ul {
    list-style: none;
    padding: 0;
}

.appointment-list li {
    background-color: #e0f7fa;
    margin: 10px 0;
    padding: 20px;
    border-radius: 15px;
    border: 3px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.appointment-list h3 {
    margin-top: 0;
    color: #00796b;
}

.appointment-list p {
    margin: 5px 0;
    color: #004d40;
}

footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1px 0; /* уменьшение размера футера еще в 2,5 раза */
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
}